<?php include'header.php';?>
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 hero-overly2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>Our Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Categories Area Start -->
        <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-70">
                            <span>Our Top Services</span>
                            <h2>Our Best Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-development"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Strategy Planning </a></h5>
                                <p>There are many variations of passages of lorem Ipsum available but the new majority have suffered.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Insurance Service</a></h5>
                                <p>There are many variations of passages of lorem Ipsum available but the new majority have suffered.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-team"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Audit & Evaluation</a></h5>
                                <p>There are many variations of passages of lorem Ipsum available but the new majority have suffered.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-result"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Insurance Service</a></h5>
                                <p>There are many variations of passages of lorem Ipsum available but the new majority have suffered.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-team"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Audit & Evaluation</a></h5>
                                <p>There are many variations of passages of lorem Ipsum available but the new majority have suffered.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-development"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Strategy Planning </a></h5>
                                <p>There are many variations of passages of lorem Ipsum available but the new majority have suffered.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!-- Brand Area Start -->
        <div class="brand-area pb-140">
            <div class="container">
                <div class="brand-active brand-border pb-40">
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand1.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand2.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand3.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand4.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand2.png" alt="">
                    </div>
                    <div class="single-brand">
                        <img src="assets/img/gallery/brand5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End -->
    </main>
    <?php include'footer.php';?>